<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/api/customers" method="POST">
    <label for="tenKhachHang">Tên khách hàng:</label>
    <input type="text" id="tenKhachHang" name="tenKhachHang" required>

    <label for="maKhachHang">Mã khách hàng:</label>
    <input type="text" id="maKhachHang" name="maKhachHang" required>

    <label for="soTienDaChiTra">Số tiền đã chi trả:</label>
    <input type="number" id="soTienDaChiTra" name="soTienDaChiTra" required>

    <button type="submit">Thêm khách hàng</button>

</form>
</body>
</html>