<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
  <link th:href="@{/css/total.css}" rel="stylesheet" />

  <style>
    td{
      padding: 10px;
    }
  </style>
</head>
<body>
<th:block th:include="/_navigation"></th:block>

<div class="content">
  <div class="formsignin">
  <h1>Đăng nhập</h1>
    <h2 th:if-="${error != null}" th:text="${error}" style="color:red"> </h2>
<form name='formSignIn'  th:action="@{/j_spring_security_check}" method='POST'>
  <table>
    <tr>
      <td>Tài khoản:</td>
      <td><input type='text' name='username' /></td>
    </tr>
    <tr>
      <td>Mật khẩu:</td>
      <td><input type='password' name='password' /></td>
    </tr>
    <tr>
      <td>Remember Me:</td>
      <td><input type="checkbox" name="remember-me" /></td>
    </tr>
    <tr>
      <td><input name="submit" type="submit" value="submit" /></td>
    </tr>
  </table>
</form>
  </div>
</div>

</body>
</html>