<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sản phẩm</title>
  <link th:href="@{/css/total.css}" rel="stylesheet" />

  <style>
    table, th, td, tr {
      border: 1px solid black;
      padding: 10px;
    }
    .timkiemsanpham{
      border: 1px solid black;
      padding: 10px;
      margin-top: 50px;
    }
  </style>
</head>
<body>

<th:block th:include="/_navigation"></th:block>
<div class="content">

  <h1>Danh sách sản phẩm</h1>

  <table>
    <thead>
    <tr>
      <th>Mã sản phẩm</th>
      <th>Tên sản phẩm</th>
      <th>Số lượng</th>
      <th>Đơn giá</th>
      <th>Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sanPham : ${productPage.getContent()}">
      <td th:text="${sanPham.getMaSP()}"></td>
      <td th:text="${sanPham.getTenSP()}"></td>
      <td th:text="${sanPham.getSoLuong()}"></td>
      <td th:text="${sanPham.getDonGia()}"></td>
      <td>
        <button type="button" onclick="editProduct(${sanPham.getMaSP()})">Sửa</button>
        <button type="button" onclick="deleteProduct(${sanPham.getMaSP()})">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <a th:if="${productPage.hasPrevious()}" th:href="@{/api/products/productList/page(page=${productPage.number - 1})}">
      Previous
    </a>
    <span th:unless="${productPage.hasPrevious()}">Previous</span>

    <span th:text="${productPage.number + 1}"></span>/<span th:text="${productPage.totalPages}"></span>

    <a th:if="${productPage.hasNext()}" th:href="@{/api/products/productList/page(page=${productPage.number + 1})}">
      Next
    </a>
    <span th:unless="${productPage.hasNext()}">Next</span>

  </div>

  <div class="timkiemsanpham">
    <label for="maSP"></label><input type="text" id="maSP" placeholder="Nhập mã sản phẩm">
    <button id="btnTimKiem">Tìm kiếm</button>

    <div id="ketQua"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#btnTimKiem').click(function() {
          var maSP = $('#maSP').val();
          $.ajax({
            url: '/api/products/' + maSP,
            type: 'GET',
            success: function(data) {
              var html = 'Tên sản phẩm: ' + data.tenSP + '<br>';
              html += 'Số lượng: ' + data.soLuong + '<br>';
              html += 'Đơn giá: ' + data.donGia + '<br>';
              $('#ketQua').html(html);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              $('#ketQua').html('Không tìm thấy sản phẩm với mã sản phẩm: ' + maSP);
            }
          });
        });
      });

      function editProduct(maSP) {
        // Chuyển hướng đến trang cập nhật sản phẩm với mã sản phẩm được chọn
        window.location.href = 'api/products/productList/update' + maSP;
      }

      function deleteProduct(maSP) {
        if (confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')) {
          // Gửi yêu cầu xóa sản phẩm đến server
          $.ajax({
            url: '/api/products/' + maSP,
            type: 'DELETE',
            success: function(data) {
              alert('Xóa sản phẩm thành công');
              // Tải lại trang hiển thị danh sách sản phẩm
              location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert('Không thể xóa sản phẩm');
            }
          });
        }
      }
    </script>
  </div>
</div>
</body>
</html>