<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách nhân viên</title>
  <link th:href="@{/css/total.css}" rel="stylesheet" />

  <style>
    table, th, td, tr {
      border: 1px solid black;
      padding: 10px;
    }
    .timkiemnhanvien{
      border: 1px solid black;
      padding: 10px;
      margin-top: 50px;
    }
  </style>
</head>
<body>

<th:block th:include="/_navigation"></th:block>
<div class="content">

  <h1>Danh sách nhân viên</h1>

  <table>
    <thead>
    <tr>
      <th>Mã nhân viên</th>
      <th>Họ và tên</th>
      <th>Chức vụ</th>
      <th>Địa chỉ</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Ngày sinh</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="nhanVien : ${staffPage.getContent()}">
      <td th:text="${nhanVien.getMaNhanVien()}"></td>
      <td th:text="${nhanVien.getTenNhanVien()}"></td>
      <td th:text="${nhanVien.getRoleName()}"></td>
      <td th:text="${nhanVien.getDiaChi()}"></td>
      <td th:text="${nhanVien.getEmail()}"></td>
      <td th:text="${nhanVien.getSoDienThoai()}"></td>
      <td th:text="${nhanVien.getNgaySinh()}"></td>

    </tr>
    </tbody>
  </table>

  <div>
    <a th:if="${staffPage.hasPrevious()}" th:href="@{/api/staffs/staffList/page(page=${staffPage.number - 1})}">
      Previous
    </a>
    <span th:unless="${staffPage.hasPrevious()}">Previous</span>

    <span th:text="${staffPage.number + 1}"></span>/<span th:text="${staffPage.totalPages}"></span>

    <a th:if="${staffPage.hasNext()}" th:href="@{/api/staffs/staffList/page(page=${staffPage.number + 1})}">
      Next
    </a>
    <span th:unless="${staffPage.hasNext()}">Next</span>

  </div>

  <div class="timkiemnhanvien">
    <label for="maNhanVien"></label><input type="text" id="maNhanVien" placeholder="Nhập mã nhân viên">
    <button id="btnTimKiem">Tìm kiếm</button>

    <div id="ketQua"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#btnTimKiem').click(function() {
          var maNhanVien = $('#maNhanVien').val();
          $.ajax({
            url: '/api/staffs/' + maNhanVien,
            type: 'GET',
            success: function(data) {
              var html = 'Tên nhân viên: ' + data.tenNhanVien + '<br>';
              html += 'Chức vụ: ' + data.roleName + '<br>';
              html += 'Số điện thoại: ' + data.soDienThoai + '<br>';
              $('#ketQua').html(html);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              $('#ketQua').html('Không tìm thấy nhân viên với mã nhân viên: ' + maNhanVien);
            }
          });
        });
      });
    </script>
  </div>
</div>
</body>
</html>